# Compilación y ejecución de pruebas
target/
build/

# Dependencias de Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar  # Evitar ignorar el archivo jar envoltorio de Maven

# Dependencias de Gradle
.gradle/
build/

# Dependencias de Node.js
node_modules/

# Archivos de configuración de IDEs
.idea/
*.iml
.classpath
.project
.settings/

# Sistema de control de versiones
.git/

# Archivos de configuración local
*.local

# Archivos temporales
*.tmp
*.swp

# Archivos de registro
*.log

# Archivos de configuración de Serenity BDD
# serenity.properties  # este impide que suba el archivo properties al repositorio, mantener comentado